:root{
    --mainColor:#46344e;
    --secondaryColor:#382a3f;

    --borderColor:#1d1520;

    --mainText:#fff;
    --secondaryText:#eeeeee;
    
    --themeDotBorder:#fff;
    --previewBg:rbg(29, 21, 32, 0.8);
    --previewShadow:#111921;

    --buttonColor:#2b202f;
}